{%- block form_widget_simple -%}
  {% set attr = attr|merge({class: (attr.class|default('') ~ ' pl-2 py-2 w-full outline-none border-none')|trim}) %}
  {%- set type = type|default('text') -%}
  {%- if type == 'range' or type == 'color' -%}
    {# Attribute "required" is not supported #}
    {%- set required = false -%}
  {%- endif -%}
  {% if type != 'hidden' %}<div class="flex items-center border-2 px-3 rounded-2xl bg-white mb-4">{% endif %}
  <input type="{{ type }}"
         {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
  {% if type != 'hidden' %}</div>{% endif %}
{%- endblock form_widget_simple -%}

{%- block form_row -%}
  {%- set widget_attr = {} -%}
  {%- if help is not empty -%}
    {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
  {%- endif -%}
  <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
    {{- form_widget(form, widget_attr) -}}
    {{- form_errors(form) -}}
    {{- form_help(form) -}}
  </div>
{%- endblock form_row -%}

{%- block form_errors -%}
  {%- if errors|length > 0 -%}
    <div class="px-4 py-2 mb-4 text-sm text-red-700 bg-red-100 rounded-lg">
      <ul>
        {%- for error in errors -%}
          <li>{{ error.message }}</li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
{%- endblock form_errors -%}

{% block textarea_widget -%}
  {% set attr = attr|merge({class: (attr.class|default('') ~ ' flex items-center border-2 py-2 px-5 rounded-2xl bg-white mb-4 w-full')|trim}) %}
  <textarea {{ block('widget_attributes') }} rows="6">{{ value }}</textarea>
{%- endblock textarea_widget %}

{%- block checkbox_widget -%}
  <label for="{{ name }}" class="my-2 inline-flex relative cursor-pointer">
    <input type="checkbox" id="{{ name }}"
           class="sr-only peer" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    <div class="min-w-[44px] h-6 bg-gray-300 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-purple-600"></div>
    <span class="ml-3">
      {{ label }}
      {% if help is defined %}
        <div data-tooltip-target="{{ name }}_tooltip" class="inline-block">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
               fill="currentColor" class="ml-1 inline-block bi bi-question-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
          </svg>
        </div>
      {% endif %}
    </span>
  </label>
  <div id="{{ name }}_tooltip" role="tooltip"
       class="inline-block absolute invisible w-80 z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-90 transition-opacity duration-300 tooltip dark:bg-gray-700">
    {{ help|raw }}
  </div>
{%- endblock checkbox_widget -%}
