{% set frenchDays = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'] %}

<div id="calendarContent" class="wrapper bg-white rounded shadow w-full mt-5"
data-month="{{ currentMonth }}"
data-year="{{ currentYear }}"
>
  <div class="header flex justify-between border-b p-2">
                <span class="text-xl font-bold">
                  {{ frMonthDate }}
                </span>
    <div class="buttons">
      <button class="p-1">
        <a href="{{ path('app_calendar', {'month' : previousMonth, 'year' : previousMonthYear}) }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
        </a>
      </button>
      <button class="p-1">
        <a href="{{ path('app_calendar', {'month' : nextMonth, 'year' : nextMonthYear}) }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
          </svg>
        </a>
      </button>
    </div>
  </div>
  <table class="calendar-table w-full">
    <thead>
    <tr>
      {% for day in frenchDays %}
        <th class="p-2 h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
          <span class="xl:block lg:block md:block sm:block hidden">{{ day }}</span>
          <span class="xl:hidden lg:hidden md:hidden sm:hidden block">{{ day|slice(0, 2) }}</span>
        </th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% set dayTotal = calendarDays|length %}
    {% set lines = dayTotal / 7 %}
    {% for line in 1..lines %}

      <!-- CLEANING -->
      <tr class="text-center h-20">
        {% for weekDay in 1..7 %}
          {% set day = calendarDays[loop.index - 1 + (loop.parent.loop.index -1) * 7] %}
          {% set date = cleaningDates[day] %}
          <td
                  class="p-1 h-20 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition duration-300 ease
                                {% if day == 'now'|date('Y-m-d') %}
                                    cleaning-date-today
                                {% endif %}
                                {% if date.modal %}
                                    cursor-pointer
                                {% endif %}
                                {% if date.mode in ['delete', 'unauthorized_delete'] %}
                                    {% if date.modal %}bg-purple hover:bg-purple-600{% else %}bg-purple-200{% endif %}
                                {% elseif date.mode in ['cleaner_contact', 'cleaner_contact'] %}
                                    {% if date.modal %}bg-blue-400 hover:bg-blue-500{% else %}bg-blue-200{% endif %}
                                {% elseif day|date('m') != currentMonth %}
                                    bg-gray-100 {% if date.modal %}hover:bg-gray-300{% endif %}
                                {% elseif date.modal %}
                                    hover:bg-gray-300
                                {% endif %}
                            ">
            <div class="dayCell flex flex-col h-20 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden"
                 data-day="{{ day }}"
                 data-modal="{{ date.modal }}"
                 data-mode="{{ date.mode }}"
                 data-title="{{ date.title }}"
                 data-content="{{ date.content }}"
                 data-sendBtn="{{ date.sendBtn }}"
                 data-closeBtn="{{ date.closeBtn }}"
                 data-displaySendBtn="{{ date.displaySendBtn }}"
                 data-route="{{ date.route }}"
                 data-method="{{ date.method }}"
                 data-user="{{ date.user is not null ? date.user.id : '' }}"
                 data-context="cleaning"
            >
              <div class="top h-5 w-full">
                  <span class="
                      {% if date.mode in ['delete', 'unauthorized_delete', 'cleaner_contact'] %}
                          text-white
                      {% else %}
                          text-gray-500
                      {% endif %}
                  ">{{ day|date('j') }}</span>
              </div>
              <div class="bottom flex-grow h-20 w-full text-white md:p-1 md:text-sm text-xs mt-3">
                {% if date.user is not null %}
                  <span class="hidden md:inline-block">{{ date.user.fullName }}</span>
                  <span class="md:hidden inline-block">{{ date.user.firstname }} {{ date.user.lastname|first }}.</span>
                {% endif %}
              </div>
            </div>
          </td>
        {% endfor %}
      </tr>

      <!-- SUPERVISING -->
      <tr class="text-center h-10">
        {% for weekDay in 1..7 %}
          {% set day = calendarDays[loop.index - 1 + (loop.parent.loop.index -1) * 7] %}
          {% set date = supervisingDates[day] %}
          <td class="p-1 h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto bg-stone-300
                {% if day == 'now'|date('Y-m-d') %}
                    supervising-date-today
                {% endif %}
                {% if date.modal %}
                    hover:bg-gray-300 cursor-pointer
                {% endif %}
            ">
            <div class="dayCell flex flex-col h-10 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden"
                 data-day="{{ day }}"
                 data-modal="{{ date.modal }}"
                 data-mode="{{ date.mode }}"
                 data-title="{{ date.title }}"
                 data-content="{{ date.content }}"
                 data-sendBtn="{{ date.sendBtn }}"
                 data-closeBtn="{{ date.closeBtn }}"
                 data-displaySendBtn="{{ date.displaySendBtn }}"
                 data-route="{{ date.route }}"
                 data-method="{{ date.method }}"
                 data-user="{{ date.user is not null ? date.user.id : '' }}"
                 data-context="supervising"
            >
              <div class="flex-grow h-10 md:py-1 w-full lg:text-sm text-xs lg:mt-1
              {% if date.modal %}text-black {% else %}text-black-200 {% endif %}
            ">
                {% if date.user is not null %}
                  <span class="hidden md:inline-block">{{ date.user.fullName }}</span>
                  <span class="md:hidden inline-block">{{ date.user.firstname }} {{ date.user.lastname|first }}.</span>
                {% endif %}
              </div>
            </div>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}

    </tbody>
  </table>
</div>
