{% import "user/_user_macros.html.twig" as user_macro %}
{% extends 'base.html.twig' %}

{% set nbYearDate = nbYearDate() %}
{% set cleanersMustDo = (nbYearDate/(volunteers|length + managers|length))|round %}
{% set supervisorsMustDo = (nbYearDate/managers|length)|round %}

{% block title %}Annuaire{% endblock %}

{% block body %}
  <!-- Tailwind colors loading -->
  <span class="hidden text-red-700 bg-red-100 text-orange-700 bg-orange-100 text-green-700 bg-green-100"></span>

  <h1>Annuaire</h1>
  {% set userTypes = {'Responsables': managers, 'Bénévoles': volunteers} %}

  {% for title, list in userTypes %}
    <h2>{{ title }}</h2>

    <table class="table-auto min-w-full leading-normal text-sm">
      <thead>
      <tr>
        {% set headers = ['Prénom', 'Nom', 'E-mail', 'Téléphone', 'Mail rappel', 'Mail manque bénévole', 'Formé·e ?', 'Quota responsable', 'Quota nettoyage'] %}
        {% for header in headers %}
          {% if (title == 'Responsables' and header == 'Formé·e ?')
          or (title == 'Bénévoles' and header == 'Quota responsable') %}
            {% set break = true %}
          {% else %}
            <th class="px-5 py-2 border-b-2 border-gray-200 bg-blue-400 text-white text-left text-sm uppercase font-normal
                {% if 'Quota' in header or 'Mail' in header %}text-center{% endif %}
                {% if header in ['Prénom'] %}hidden md:table-cell{% endif %}
                {% if header in ['Mail rappel', 'Mail manque bénévole'] %}hidden md:table-cell{% endif %}
                {% if header in ['Téléphone'] %}hidden lg:table-cell{% endif %}
                {% if header in ['E-mail'] %}hidden xl:table-cell{% endif %}
              ">
              {{ header }}
            </th>
          {% endif %}
        {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for user in list %}
        <tr class="even:bg-gray-100 odd:bg-white hover:bg-gray-200 cursor-pointer xl:cursor-auto"
            data-modal="1"
            data-user="{{ user.id }}"
            data-title="Informations utilisateur"
            data-content='{% include "user/_modal.html.twig" with {"isManager" : (title == 'Responsables')} %}'
            data-closebtn="Fermer"
        >
          <td class="hidden md:table-cell px-5 py-2 border-b border-gray-200">
            {{ user.firstname }}
          </td>
          <td class="px-5 py-2 border-b border-gray-200">
            <span class="hidden md:block">{{ user.lastname }}</span>
            <span class="md:hidden">{{ user.firstname }} {{ user.lastname|first }}.</span>
          </td>
          <td class="hidden xl:table-cell px-5 py-2 border-b border-gray-200">
            {{ user_macro.email(user.email) }}
          </td>
          <td class="hidden lg:table-cell px-5 py-2 border-b border-gray-200">
            {{ user_macro.phone(user.phone) }}
          </td>
          <td class="hidden md:table-cell px-5 py-2 border-b border-gray-200 text-center">
            {{ user_macro.boolean(user.callbackMailOptIn, 'table') }}
          </td>
          <td class="hidden md:table-cell px-5 py-2 border-b border-gray-200 text-center">
            {{ user_macro.boolean(user.missingVolunteerMailOptIn, 'table') }}
          </td>
          {% if title == 'Bénévoles' %}
            <td class="px-5 py-2 border-b border-gray-200 text-center">
              {{ user_macro.boolean(user.hasBeenTrained, 'table') }}
            </td>
          {% endif %}
          {% if title == 'Responsables' %}
            <td class="px-5 py-2 border-b border-gray-200 text-center">
              {{ user_macro.quota(user.supervisingCount, supervisorsMustDo, 'table') }}
            </td>
          {% endif %}
          <td class="px-5 py-2 border-b border-gray-200 text-center">
              {{ user_macro.quota(user.cleaningCount, cleanersMustDo, 'table') }}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endfor %}

{% endblock %}
