{% extends 'base_content.html.twig' %}

{% set nbYearDate = nbYearDate() %}
{% set cleanersMustDo = (nbYearDate/(volunteers|length + managers|length))|round %}
{% set supervisorsMustDo = (nbYearDate/managers|length)|round %}

{% block title %}Annuaire{% endblock %}

{% block body %}
  <h1>Annuaire</h1>
  {% set userTypes = {'Responsables': managers, 'Bénévoles': volunteers} %}
  {% for title, list in userTypes %}
  <h2>{{ title }}</h2>

  <table class="table-auto min-w-full leading-normal text-sm">
    <thead>
    <tr>
      {% set headers = ['Prénom', 'Nom', 'E-mail', 'Téléphone', 'Mail rappel', 'Mail manque bénévole', 'Quota nettoyage', 'Quota responsable'] %}
      {% for header in headers %}
        {% if title == 'Bénévoles' and header == 'Quota responsable' %}
          {% set break = true %}
        {% else %}
          <th class="px-5 py-2 border-b-2 border-gray-200 bg-blue-400 text-white text-left text-sm uppercase font-normal
            {% if 'Quota' in header or 'Mail' in header %}text-center{% endif %}
          ">
            {{ header }}
          </th>
        {% endif %}
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for user in list %}
    <tr class="even:bg-gray-100 odd:bg-white hover:bg-gray-200 ">
      <td class="px-5 py-2 border-b border-gray-200">
        {{ user.firstname }}
      </td>
      <td class="px-5 py-2 border-b border-gray-200">
        {{ user.lastname }}
      </td>
      <td class="px-5 py-2 border-b border-gray-200">
        {{ user.email }}
      </td>
      <td class="px-5 py-2 border-b border-gray-200">
        {{ user.phone }}
      </td>
      <td class="px-5 py-2 border-b border-gray-200">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="mx-auto bi bi-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          {% if user.callbackMailOptIn %}
            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
          {% endif %}
        </svg>
      </td>
      <td class="px-5 py-2 border-b border-gray-200">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="mx-auto bi bi-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          {% if user.missingVolunteerMailOptIn %}
            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
          {% endif %}
        </svg>
      </td>
        {% set ratio = (user.cleaningCount/cleanersMustDo)*100 %}
      <td class="px-5 py-2 border-b border-gray-200 text-center">
          <span class="inline-block mt-2 {{ color_ratio(ratio) }} mr-2 px-2.5 py-0.5 rounded text-red-700 bg-red-100">
            {{ user.cleaningCount }} / {{ cleanersMustDo }}
          </span>
      </td>
      {% if title == 'Responsables' %}
          {% set ratio = (user.supervisingCount/supervisorsMustDo)*100 %}
        <td class="px-5 py-2 border-b border-gray-200 text-center">
          <span class="inline-block mt-2 {{ color_ratio(ratio) }} mr-2 px-2.5 py-0.5 rounded">
            {{ user.supervisingCount }} / {{ supervisorsMustDo }}
          </span>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
    {% endfor %}
 {% endblock %}
